# pytests
.pytest_cache
test.py

# python module files
*.pyc

# MAC ds_store
.DS_Store 

# emacs stuff
*~

# __pycache__ file
__pycache__

# notes and changes files
notes
changes

# files beginning and ending with #
\#*# 

# gifs
*.gif

# armada data
data_vals.png

# setuptools stuff
dist/
build/
pymada.egg-info/

# virtualenv stuff
venv/

# PDFs
*.pdf

# log files
porkins_diaries.log

# plot file
pymada_plot.html

# editor files
.vscode/